body {
  background: #FFFFEE;
}

.header {
  background: #222;
  height: 50px;
}

.row{
  margin: 5px 5px;
}
.noMargin{
  margin: 5px 0px;
  padding: 0px;
}

.centered{
  margin: 0 auto;
}

.login{
  position: relative;
  right: 200px;
}
.getStarted{
  position: absolute;
  right: 50%;
  top: 50%;
}
.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.body{
  margin-top: 50px;
}
.noteContent{
  height: 500px;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #CCC;
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

