Here you will see the details of the note
<ul>
  Users:
  <li ng-repeat="user in users  | uninvited:note">
    <div>{{ user | displayName }}</div>
    <button ng-click="invite(user)">Invite</button>
  </li>
</ul>

<input ng-model="note.name" ng-disabled="note.owner != $root.currentUser._id">
<input ng-model="note.content" ng-disabled="note.owner != $root.currentUser._id">
<label>Is public</label>
<input type="checkbox" ng-model="note.public" ng-disabled="note.owner != $root.currentUser._id">
<button ng-click="save()">Save</button>
<button ng-click="reset()">Reset form</button>
<button><a href="/notes">Cancel</a></button>