  <p>You have: {{ notes.length }} notes</p>
  <h2>Master Note List</h2>
  <form>
    <label>Name</label>
    <input ng-model="newNote.name">
    <label>Content</label>
    <input ng-model="newNote.content">
    <label>Public</label>
    <input ng-model="newNote.public" type="checkbox" >
  </form>
  <button ng-click="newNote.owner=$root.currentUser._id; notes.push(newNote)">Add</button>
  <button ng-click="removeAll()">remove all</button>
  <ul>
    <li class="note"  ng-repeat="note in notes">
      <a href="/notes/{{note._id}}">{{note.name}}</a>
      <p>{{note.content}}</p>
      <button ng-click="remove(note)">X</button>
    </li>
  </ul>

